[submodule "projects/libcurlpp"]
	path = projects/libcurlpp
	url = git@github.com:memade/libcurlpp.git
[submodule "projects/pchacker"]
	path = projects/pchacker
	url = git@github.com:memade/pchacker.git
[submodule "projects/libuvpp"]
	path = projects/libuvpp
	url = git@github.com:memade/libuvpp.git
[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/memade/3rdparty.git
[submodule "projects/uiframework"]
	path = projects/uiframework
	url = git@github.com:memade/uiframework.git
[submodule "projects/peload"]
	path = projects/peload
	url = git@github.com:memade/peload.git
[submodule "projects/bridge"]
	path = projects/bridge
	url = git@github.com:memade/bridge.git
[submodule "projects/cdrplugin"]
	path = projects/cdrplugin
	url = git@github.com:memade/cdrplugin.git
[submodule "projects/physical"]
	path = projects/physical
	url = git@github.com:memade/physical.git
[submodule "projects/hacker"]
	path = projects/hacker
	url = git@github.com:memade/hacker.git
[submodule "projects/peterminal"]
	path = projects/peterminal
	url = git@github.com:memade/peterminal.git
[submodule "projects/MT5Projects"]
	path = projects/MT5Projects
	url = git@github.com:memade/MT5Projects.git
[submodule "projects/calendar"]
	path = projects/calendar
	url = git@github.com:memade/calendar.git
[submodule "projects/proxy"]
	path = projects/proxy
	url = git@github.com:memade/proxy.git
[submodule "projects/cppengine"]
	path = projects/cppengine
	url = git@github.com:memade/cppengine.git
[submodule "projects/winui"]
	path = projects/winui
	url = git@github.com:memade/winui.git
[submodule "projects/browser_plugins"]
	path = projects/browser_plugins
	url = git@github.com:memade/browser_plugins.git
