# Temp files created by most text editors.
*~
# Nested build directory
/build
/bin
/lib
/objs
/librarys
# VS2017 and VSCode config files.
.vscode
.vs
# External projects that are tracked independently.
#projects/*
!librarys/*.*
!runtimes/*.*
