# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
#!tools/*.exe
*.out
*.app

*.pdb
*.vcxproj.user
objs/
.vs/
*.idb
#!librarys/
/bin/
#cef
libcef_dll_wrapper.lib
3rdparty/cef/cef_binary-107.0.3_chromium-107.0.5304.18_x64_beta/Debug
3rdparty/cef/cef_binary-107.0.3_chromium-107.0.5304.18_x64_beta/Release
3rdparty/cef/cef_binary-107.0.3_chromium-107.0.5304.18_x86_beta/Debug
3rdparty/cef/cef_binary-107.0.3_chromium-107.0.5304.18_x86_beta/Release