[submodule "projects/libcurlpp"]
	path = projects/libcurlpp
	url = git@github.com:memade/libcurlpp.git
[submodule "projects/pchacker"]
	path = projects/pchacker
	url = git@github.com:memade/pchacker.git
[submodule "projects/libuvpp"]
	path = projects/libuvpp
	url = git@github.com:memade/libuvpp.git
